@use "../base/responsive";

@mixin grid-template-columns-all-full-start-end {
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(
      10,
      [col-start] minmax(min-content, 13rem) [col-end]
    ) [center-end] minmax(6rem, 1fr) [full-end];

  @include responsive.respond(tab-between-port-land) {
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(
        10,
        [col-start] minmax(min-content, 13rem) [col-end]
      ) [center-end] minmax(6rem, 1fr) [full-end];
  }
  @include responsive.respond(tab-port) {
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(
        4,
        [col-start] minmax(min-content, 20rem) [col-end]
      ) [center-end] minmax(2rem, 1fr) [full-end];
  }
  @include responsive.respond(phone) {
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(
        6,
        [col-start] minmax(4rem, 14rem) [col-end]
      ) [center-end] minmax(2rem, 1fr) [full-end];
  }
}

.main-container {
  display: grid;
  @include grid-template-columns-all-full-start-end;
  grid-template-rows: minmax(55rem, 90vh) repeat(3, min-content);

  @include responsive.respond(tab-port) {
    grid-template-rows: minmax(min-content, 90vh) repeat(3, min-content);
  }
  &--2 {
    height: 100vh;
    grid-template-rows: 0 minmax(min-content, 1fr);
  }
  &--3 {
    grid-template-rows: 10rem minmax(90vh, 1fr) 30rem;
  }
}
