@use "../base/responsive";
@use "../abstracts/vars";
@use "../layout/grid";

.header {
  display: grid;
  grid-column: vars.$grid-column-full-start-end;
  @include grid.grid-template-columns-all-full-start-end;
  grid-template-rows: 10rem 1.5fr minmax(25rem, 1fr) min-content;
  background: vars.$color-grey-light-1;
  background: -moz-linear-gradient(
    left,
    vars.$color-grey-light-1 0%,
    #dadada 75%,
    vars.$color-grey-light-2 75%,
    vars.$color-grey-light-2 100%
  );
  background: -webkit-linear-gradient(
    left,
    vars.$color-grey-light-1 0%,
    #dadada 75%,
    vars.$color-grey-light-2 75%,
    vars.$color-grey-light-2 100%
  );
  background: linear-gradient(
    to right,
    vars.$color-grey-light-1 0%,
    #dadada 75%,
    vars.$color-grey-light-2 75%,
    vars.$color-grey-light-2 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-grey-light-1', endColorstr='$color-grey-light-2',GradientType=1 ); /* IE6-9 */

  @include responsive.respond(tab-port) {
    grid-template-rows:
      10rem minmax(min-content, 1fr) minmax(10rem, max-content)
      8.4rem min-content;
    grid-row-gap: 3rem;
  }
  @include responsive.respond(phone) {
    padding-bottom: 4rem;
    background: vars.$color-grey-light-1;
    background: -moz-linear-gradient(
      left,
      vars.$color-grey-light-1 0%,
      #dadada 100%,
      vars.$color-grey-light-2 100%,
      vars.$color-grey-light-2 100%
    );
    background: -webkit-linear-gradient(
      left,
      vars.$color-grey-light-1 0%,
      #dadada 100%,
      vars.$color-grey-light-2 100%,
      vars.$color-grey-light-2 100%
    );
    background: linear-gradient(
      to right,
      vars.$color-grey-light-1 0%,
      #dadada 100%,
      vars.$color-grey-light-2 100%,
      vars.$color-grey-light-2 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-grey-light-1', endColorstr='$color-grey-light-2',GradientType=1 ); /* IE6-9 */
  }

  &--2 {
    grid-template-rows: 10rem;
    background-color: transparent;
    background: transparent;
  }

  &__title {
    grid-column: 2 / 7;
    grid-row: 2/3;
    align-self: center;
    font-size: 5rem;
    z-index: 2;

    @include responsive.respond(tab-port) {
      grid-column: 2 / 6;
      grid-row: 2 / 3;
      font-size: 7rem;
      text-align: center;
    }
    @include responsive.respond(phone) {
      grid-column: 2 / 8;
      font-weight: 800;
      font-size: 6rem;
      line-height: 0.9;
    }
    @include responsive.respond(mini-phone) {
      font-size: 5.4rem;
    }
  }
  &__cta {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 18px;
    grid-column: 2 / 7;
    grid-row: 3 / 4;
    align-self: start;
    margin-top: 2rem;
    z-index: 100;

    @include responsive.respond(tab-port) {
      margin-top: 0;
      justify-self: center;
      grid-column: 1 / 7;
    }
    @include responsive.respond(phone) {
      grid-column: 2 / 8;
    }
    @include responsive.respond(mini-phone) {
      text-align: center;

      button:nth-child(1) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
  &__box-img {
    grid-column: 7 / 13;
    grid-row: 2/4;
    display: grid;
    z-index: 1;
    @include responsive.respond(tab-port) {
      grid-column: 2 / 6;
      grid-row: 3 / 4;
    }
    @include responsive.respond(phone) {
      grid-column: 2 / 8;
    }
    &__item {
      display: block;
      width: 56%;
      justify-self: center;
      align-self: center;

      @include responsive.respond(big-desktop) {
        width: 45rem;
      }
      @include responsive.respond(tab-between-land-desktop) {
        width: 50%;
      }

      @include responsive.respond(tab-between-port-land) {
        width: 62%;
      }
      @include responsive.respond(tab-land) {
        width: 68%;
      }
      @include responsive.respond(tab-port) {
        width: 70%;
        margin-top: 3rem;
      }
    }
  }
  &__items {
    grid-column: 1 / -1;
    grid-row: 7 / 8;
    display: grid;
    @include grid.grid-template-columns-all-full-start-end;
    font-size: 2rem;
    z-index: 2;
    @include responsive.respond(tab-port) {
      grid-row: 5 / 6;
      grid-template-rows: min-content;
      grid-row-gap: 2rem;
      padding-bottom: 2rem;
    }
  }
}

.header-nav {
  width: 100%;
  height: 10rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: min-content minmax(max-content, 1fr) min-content 5rem;
  background-color: vars.$color-grey-light-1;
  padding: 1rem 3rem 1rem 10rem;
  position: fixed;
  transition: all 0.2s;
  z-index: 999;

  @include responsive.respond(tab-port) {
    padding: 1rem 1rem 1rem 5rem;
  }
  @include responsive.respond(phone) {
    grid-template-columns: 1fr;
    padding: 1rem 5rem 1rem 5rem;
  }

  &__box {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, min-content);
    grid-column-gap: 6rem;
    font-size: 1.65rem;
    font-weight: 600;
    color: vars.$color-secondary;
    white-space: nowrap;

    @include responsive.respond(tab-port) {
      grid-column-gap: 3rem;
    }

    &:nth-child(3) {
      margin-right: 5rem;
      @include responsive.respond(tab-port) {
        margin-right: 2rem;
      }
    }
    & &__item {
      transition: all 0.3s;
      position: relative;
      &:hover {
        color: vars.$color-primary;
      }
      @include responsive.respond(phone) {
        display: none;
      }

      &::before {
        content: "";
        display: block;
        width: 0;
        border: none;
        border-bottom: 4rem solid vars.$color-primary;
        border-width: 0 0 2px 0;
        border-radius: 21px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 0.2s;
        position: absolute;
        top: 24px;
      }
      &:hover::before {
        content: "";
        display: block;
        width: 100%;
        border: none;
        border-bottom: 4rem solid vars.$color-primary;
        border-width: 0 0 2px 0;
        border-radius: 21px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 0.2s;
        position: absolute;
        top: 24px;
      }
    }
  }
  &__logo-box {
    width: 100%;
    display: flex;
    justify-content: center;
    @include responsive.respond(phone) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
  &__logo {
    height: 8rem;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      transform: translateY(-3px);
    }
  }
}
