@use "../../styles/sass/abstracts/vars";
@use "../../styles/sass/base/responsive";

@mixin body-btn-big-bg {
  padding: 1.9rem 2.8rem;
  border-radius: vars.$btn-border-radius;
}
@mixin body-btn-medium-bg {
  font-size: 1.5rem;
  padding: 1.5rem 2.8rem;
  border-radius: vars.$btn-border-radius;
  border: vars.$btn-borderline;
}

@mixin body-btn-borderline {
  padding: 1.9rem 2.8rem;
  border-radius: vars.$btn-border-radius;
  border: vars.$btn-borderline;
  background-color: transparent;
}
@mixin body-btn-link {
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s;
  &:hover {
    background-color: vars.$color-secondary;
    transform: translateY(-4px);
  }
  & img {
    height: 3.6rem;
  }
}

@mixin btn-color-bg-color($color) {
  @if $color == color-primary {
    color: vars.$color-grey-light-1;
    background-color: vars.$color-primary;
    &:hover {
      color: white;
      background-color: vars.$color-primary-dark;
    }
  }
  @if $color == color-secundary {
    color: vars.$color-grey-light-1;
    background-color: vars.$color-secondary;
    &:hover {
      color: white;
      background-color: #251f62;
    }
  }
  @if $color == color-brown-dark-2 {
    color: vars.$color-grey-light-1;
    background-color: vars.$color-brown-dark-2;
    &:hover {
      color: white;
      background-color: vars.$color-brown-dark-1;
    }
  }
  @if $color == white {
    color: vars.$color-primary;
    background-color: vars.$color-grey-light-1;
    &:hover {
      color: vars.$color-primary-dark;
      background-color: vars.$color-grey-light-2;
    }
  }
}

@mixin btn-body-round-1 {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    background-color: rgb(211, 211, 211);
  }
}

@mixin btn__lines-before-after {
  width: 3rem;
  height: 3px;
  border-radius: 5px;
  background-color: vars.$color-primary;
  transition: all 0.3s;
  position: relative;
}

@mixin btn-color-border-color($color) {
  @if $color == color-primary {
    color: vars.$color-primary;
    border: 2px solid vars.$color-primary;
    &:hover {
      color: vars.$color-primary-dark;
      border: 2px solid vars.$color-primary-dark;
    }
  }
  @if $color == color-secundary {
    color: vars.$color-secondary;
    border: 2px solid vars.$color-secondary;
    &:hover {
      color: #251f62;
      border: 2px solid #251f62;
    }
  }
  @if $color == color-brown-dark-2 {
    color: vars.$color-brown-dark-2;
    border: 2px solid vars.$color-brown-dark-2;
    &:hover {
      color: vars.$color-brown-dark-1;
      border: 2px solid vars.$color-brown-dark-1;
    }
  }
  @if $color == white {
    color: vars.$color-grey-light-1;
    border: 2px solid vars.$color-grey-light-1;
    &:hover {
      color: vars.$color-grey-light-2;
      border: 2px solid vars.$color-grey-light-2;
    }
  }
}

.btn {
  &,
  &:active,
  &:focus,
  &:visited {
    display: inline-block;
    font-family: vars.$font-primary;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.53px;
    color: vars.$color-primary;
    text-decoration: none;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 10;

    @include responsive.respond(phone) {
      // font-size: 1.1rem;   //borrar
    }

    &:focus {
      outline: none;
    }
    &:hover {
      color: vars.$color-primary-dark;
      transform: translateY(-3px);
    }
    &:active {
      transform: translateY(1px);
    }

    &.btn-big {
      @include body-btn-big-bg;
      @include btn-color-bg-color(color-primary);
    }
    &.btn-medium {
      @include body-btn-big-bg;
      @include btn-color-bg-color(color-primary);
      font-size: 1.5rem;
      padding: 1.5rem 2.5rem;
    }
    &.btn-boderline {
      @include body-btn-borderline;
      @include btn-color-border-color(color-primary);
    }

    &.btn-link {
      @include body-btn-link;
    }

    &--disable {
      cursor: not-allowed;
      color: #888;
      border: 2px solid #bdbdbd;
      background-color: #bdbdbd;

      &:hover,
      &:active {
        color: #888;
        background-color: #bdbdbd;
        transform: translateY(0px);
      }

      &[disabled] {
        color: #888;
        border: 2px solid #bdbdbd;
        background-color: #bdbdbd;
      }
      &:hover,
      &:active {
        background-color: #bdbdbd;
        transform: translateY(0px);
      }
    }
  }
}

.btn-big2 {
  background-color: #251f62;
}
