@use "../../styles/sass/layout/grid";
@use "../../styles/sass/abstracts/vars";

.breadcrumb {
  display: flex;
  align-items: center;

  &-parent {
    grid-column: vars.$grid-column-center-start-end;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    margin: 5rem 0 3rem 0;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 9px;

    & > span:nth-child(2) {
      font-weight: 700;
    }

    & > li:nth-child(3) {
      font-weight: 700;
    }
  }

  &__line {
    width: 2px;
    display: block;
    height: 2.5rem;
    background-color: var(--color-primary-dark);
    margin-right: 2rem;
  }
}
