@use "./responsive";
@use "../abstracts/vars";

:root {
  --color-primary: #d2a056;
  --color-secondary: #eee3d9;

  --color-primary-dark: #14103d;

  --color-brown-dark-1: #2b170e;
  --color-brown-dark-2: #412518;

  --color-brown-dark-3: #2b170e;
  --color-brown-dark-4: #412518;

  --color-grey-light-1: #f9f9f9;
  --color-grey-light-2: #d9d9d9;

  --color-grey-dark-1: rgb(65, 65, 65);
  --color-grey-dark-2: rgb(34, 34, 34);

  --color-grey-dark-overlay: rgba(0, 0, 0, 0.7);

  --color-green: #2ecc71;
  --color-red: #f24e43;

  --color-gradient-primary: linear-gradient(
    135deg,
    rgba(210, 160, 86, 1) 0%,
    rgb(149, 109, 48) 100%
  );

  --font-primary: "Montserrat", sans-serif;
  --font-primary-secundary: "Roboto", sans-serif;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --bg-color-overlay: rgba(0, 0, 0, 0.7);
  --box-shadow-box: 0px 4px 17px rgba(0, 0, 0, 0.161);

  --border-radius: 3rem;
  --border-radius-1: 12px;
  --border-line-gray: 1px solid var(--color-grey-light-4);
  --line: 1px solid #d4d4d4;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--font-primary);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (min-width: 2200px) {
    font-size: 113.5%;
  }
  @include responsive.respond(tab-between-port-land) {
    font-size: 52%;
  }
  @include responsive.respond(tab-port) {
    font-size: 48%;
  }
  @include responsive.respond(big-desktop) {
    font-size: 68%;
  }
}

body {
  box-sizing: border-box;
  font-family: vars.$font-primary;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.33px;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(248, 248, 248);
  color: var(--color-grey-dark-1);
  transition: ease-in-out 0.4s;
}

a {
  &,
  &:link,
  &:visited {
    font-family: vars.$font-primary;
    text-decoration: none;
    color: inherit;
    outline: none;
    background-color: transparent;

    a:active {
      color: inherit;
      text-decoration: none;
      outline: none;
      background-color: transparent;
    }
  }
}

nav ul {
  list-style: none;
}

button {
  font-family: var(--font-primary);
  width: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
p {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: normal;
}

span {
  color: inherit;
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
