/// display position overflow
.visibility-hidden {
  visibility: hidden;
}
.visibility-visible-opacity-1 {
  visibility: visible !important;
  opacity: 1 !important;
}

.display-none-important {
  display: none !important;
}
.display__none {
  display: none;
}

.display__block {
  display: block;
}

.display__flex {
  display: flex;
}

.position__relative {
  position: relative;
}
.position__initial {
  position: initial;
}
.overflow-hidden {
  overflow: hidden;
}

///////// cursor pointer
.cursor-pointer {
  cursor: pointer;
}
.non-cursor-pointer {
  cursor: default;
}
.user-s-pointer-e-none {
  user-select: none;
  pointer-events: none;
}

///////// margin
.margin-top-11rem {
  margin-top: 11rem;
}
.margin-top-6rem {
  margin-top: 6rem;
}
.margin-top-5rem {
  margin-top: 5rem;
}
.margin-top-4rem {
  margin-top: 4rem;
}
.margin-top-3rem {
  margin-top: 3rem;
}
.margin-top-2-5rem {
  margin-top: 2.5rem;
}
.margin-top-2rem {
  margin-top: 2rem;
}
.margin-top-1-5rem {
  margin-top: 1.5rem;
}
.margin-top-1rem {
  margin-top: 1rem;
}
.margin-top-0-5rem {
  margin-top: 0.5rem;
}
.margin-right-1rem {
  margin-right: 1rem;
}
.margin-right-2rem {
  margin-right: 2rem;
}
.margin-right-3rem {
  margin-right: 3rem;
}
.margin-right-6rem {
  margin-right: 6rem;
}
.margin-bottom-1rem {
  margin-bottom: 1rem;
}
.margin-bottom-2rem {
  margin-bottom: 2rem;
}
.margin-bottom-3rem {
  margin-bottom: 3rem;
}
.margin-bottom-4rem {
  margin-bottom: 4rem;
}
.margin-bottom-1-5rem {
  margin-bottom: 1.5rem;
}
.margin-bottom-0-5rem {
  margin-bottom: 0.5rem;
}
.margin-left-4rem {
  margin-left: 4rem;
}
.margin-left-3rem {
  margin-left: 3rem;
}
.margin-left-2-5rem {
  margin-left: 2.5rem;
}
.margin-left-2-4rem {
  margin-left: 2.4rem;
}
.margin-left-2rem {
  margin-left: 2rem;
}
.margin-left-1rem {
  margin-left: 1rem;
}
.margin-left-0-5rem {
  margin-left: 0.5rem;
}
.margin-0 {
  margin: 0 !important;
}

////// padding
.padding-0 {
  padding: 0 !important;
}
.padding-top-1rem {
  padding-top: 2rem;
}
.padding-bottom-5px {
  padding-bottom: 5px;
}
.padding-right-left-4rem {
  padding: 0 4rem;
}
.padding-left-1rem {
  padding-left: 1rem;
}
///////// text align
.text-center {
  text-align: center;
  display: block;
}
.text-right {
  text-align: right;
  display: block;
}
.word-break-break-word {
  word-break: break-word;
}
