@use "../../../styles/sass/layout/grid";
@use "../../../styles/sass/abstracts/vars";

.details {
  grid-column: vars.$grid-column-center-start-end;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: minmax(50rem, 60rem);
  gap: 4rem;
  padding-bottom: 5rem;

  &_box-img {
    background-color: rgba(255, 255, 255, 0.14);

    & > figure {
      width: 100%;
      height: 100%;
      display: inline-block;
      background-color: rgba(204, 204, 204, 0.137);
      color: rgba(204, 204, 204, 0.137);
      border-radius: 4px;
      overflow: hidden;
    }
  }
  &_title {
    width: 53rem;
    display: block;
    letter-spacing: -0.22px;
    line-height: 39px;
    color: var(--color-primary);
  }
  &_subtitle {
    font-size: 2.5rem;
    font-weight: 200;
    color: var(--color-primary-dark);

    & > span:nth-child(2) {
      margin-left: 2rem;
    }
  }
  &_subtitle2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: 200;
    margin-top: 2rem;
    color: var(--color-primary-dark);

    & > span:nth-child(2) {
      justify-self: end;
    }
  }
  &_price {
    font-size: 4rem;
    font-weight: 700;
  }
  &_available,
  &_not-available {
    display: grid;
    justify-content: center;
    align-content: center;
    color: var(--color-green);
    font-size: 2.4rem;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: -0.02px;
  }
  &_available {
    color: var(--color-green);
  }
  &_not-available {
    color: var(--color-red);
  }

  &-empty-error {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    justify-items: center;

    & > figure:nth-child(1) {
      width: 14rem;
      display: block;
    }

    & > p:nth-child(2) {
      font-weight: 200;
      font-size: 1.7rem;
      line-height: 1.2;
      color: vars.$color-secondary;
      text-align: center;
      margin-top: 1rem;
    }
  }
}
