@use "../../styles/sass/layout/grid";
@use "../../styles/sass/abstracts/vars";

.products {
  display: grid;
  @include grid.grid-template-columns-all-full-start-end;
  grid-template-rows: 10rem 1fr;
  background: vars.$color-grey-light-1;
  padding-bottom: 4rem;

  &-box1 {
    grid-column: vars.$grid-column-center-start-end;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    margin: 5rem 0 3rem 0;
  }
  &-list {
    grid-column: vars.$grid-column-center-start-end;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-template-rows: repeat(auto-fit, 36rem);
    gap: 2rem;

    &-empty {
      display: grid;
      align-items: center;
      justify-items: center;
      margin-top: 9rem;

      & > figure:nth-child(1) {
        width: 14rem;
      }

      & > p:nth-child(2) {
        font-weight: 200;
        font-size: 1.7rem;
        line-height: 1.2;
        color: vars.$color-secondary;
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}
